* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-size: 0.85rem;
    color: rgb(5, 0, 0);
}

.container-pai {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 2px solid #33333310;
    gap: 5px;
}

.container-button {
    width: 160px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    
}

.btn {
    background-color: #D9D9D9;
    border-radius: 2px;
    cursor: pointer;
    padding: 5px;
    color: black;
    text-align: center;
    font-size: 10px;
}


.input-text{
    background-color: #F3F3F3;
    border-radius: 1px;
    border: 1px solid #333333c7;
    margin-top: -8px;
}

/* Desafio */
/* Cabeçalho */
.cabecalho-conteudo{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row-reverse;
    padding: 10px;
}

.logo{
    width: 25px;
    height: auto;
}

/* Rodapé */
.rodape{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.link{
    color: blue;
}

.result{
    width: 157.5px;
    height: 68px;
    background-color: #F3F3F3;
    border: 0.5px solid #333333af;
    padding: 20px;
    justify-content: start;
    padding: 5px;
}

#btnMaiuscula,
#btnMinuscula,
#btnlimpar,
#btnContar {
    width: 75px; /* dois botões lado a lado dentro de 160px */
}

/* último botão ocupa a linha toda */
#btnPrimeiraLetraMaiuscula {
    width: 100%;
}

