* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-size: 0.85rem;
    color:rgb(255, 255, 255);
}

.container-pai {
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     background-image: url('icons/fundoo.jpg');
    background-size: cover;       /* Faz a imagem cobrir toda a área */
    background-position: center;  /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    border: 2px solid #33333310;
    gap: 5px;
    border-radius: 12px;
}

.logo{
    border-radius: 15px;
}

.container-button {
    width: 160px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    
}

.btn {
    background-color: #FFD700;
    border-radius: 12px;
    cursor: pointer;
    padding: 5px;
    color: black;
    text-align: center;
    font-size: 10px;
    border: none;
}

.btn:hover{
    background-color: #fbff00;
    box-shadow: 0 0 0 1.5px #fbff00;
}


.input-text{
    background-color: #00000000;
    border-radius: 12px;
    margin-top: -8px;
    color: white;
}

.input-text::placeholder{
    color: #ffffff99;
}

/* Desafio */
/* Cabeçalho */
.cabecalho-conteudo{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row-reverse;
    padding: 10px;
}

.logo{
    width: 25px;
    height: auto;
}

/* Rodapé */
.rodape{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.link{
    color: #fbff00;
}

.link:hover{
    color: #ffea00;
    box-shadow: 0 0 0 0.5px #fbff00;
}

.result{
    width: 157.5px;
    height: 68px;
    background-color: #00000023;
    color: white;
    padding: 20px;
    justify-content: start;
    padding: 5px;
    border-radius: 12px;
}

#btnMaiuscula,
#btnMinuscula,
#btnlimpar,
#btnContar {
    width: 75px; /* dois botões lado a lado dentro de 160px */
}

/* último botão ocupa a linha toda */
#btnPrimeiraLetraMaiuscula {
    width: 100%;
}

